* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

header {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 0;
}
header .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  gap: 1.6rem;
}
header .nav-container .logo {
  font-size: 25px;
}
header .nav-container .nav {
  display: flex;
  flex-grow: 1;
}
header .nav-container .nav ul {
  list-style: none;
}
header .nav-container .nav .nav--ul__one {
  margin: 0 auto;
  display: flex;
  gap: 1.6rem;
}
header .nav-container .nav .nav--ul__two {
  display: flex;
  gap: 1.6rem;
}
header .nav-container .nav a {
  text-decoration: none;
  color: inherit;
}
header .nav-container .hamburger-menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  .nav-container {
    font-size: 20px;
    z-index: 2;
  }
  .nav-container .logo {
    font-size: 20px;
    z-index: 2;
  }
  .nav-container .nav {
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    padding-top: 6rem;
    align-items: center;
    text-align: center;
    background-color: burlywood;
    color: #fff;
    transition: 0.3s ease-in-out;
  }
  .nav-container .nav .nav--ul__one {
    flex-direction: column;
    gap: 0.6rem;
  }
  .nav-container .nav .nav--ul__two {
    flex-direction: column;
    gap: 0.6rem;
  }
  .nav-container .nav .nav.active {
    right: 0;
  }
  .nav-container .hamburger-menu {
    display: block;
    z-index: 2;
  }
}
footer {
  position: relative;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer span {
  font-style: italic;
}
footer .links {
  justify-content: space-evenly;
  color: #393939;
  text-decoration: none;
}
footer .icons {
  display: flex;
}
footer .icons .fb {
  margin-right: 40.4px;
  height: 19px;
  width: 19px;
}
footer .icons .fb i {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 19px;
  width: 19px;
}
footer .icons .insta {
  height: 19px;
  width: 19px;
}
footer .icons .insta i {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 19px;
  width: 19px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .hero {
  height: 800px;
  width: 100%;
  background-image: linear-gradient(rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home .hero .circle-container {
  width: 357.58px;
  height: 357.58px;
  background-color: #ffd972;
}

.account {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  background-color: #ffd972;
}
.account input {
  margin-top: 44px;
  font-size: 16px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1.5px solid black;
  background-color: #ffd972;
}
.account input:focus {
  outline: none;
}
.account input::placeholder {
  color: black;
}
.account button {
  margin-top: 44px;
  width: 170px;
  height: 40px;
  align-self: center;
  color: white;
  background-color: #ffd972;
  border-radius: 16px;
  border-color: #ffd972;
  box-shadow: 2px 2px 2px #d6b65f;
  color: #000000;
  cursor: pointer;
}
.account h1 {
  font-size: 26px;
  font-weight: normal;
}
.account .login,
.account .signup {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.account .login p,
.account .signup p {
  margin-bottom: 1px;
}

@media screen and (max-width: 778px) and (min-width: 391px) {
  .account {
    flex-direction: column;
  }
  .account h1 {
    font-size: 12px;
    margin-top: 15px;
  }
  .account input,
  .account button,
  .account p {
    font-size: 11px;
  }
}
