* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

footer {
  position: relative;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer span {
  font-style: italic;
}
footer .links {
  justify-content: space-evenly;
  color: #393939;
  text-decoration: none;
}
footer .icons {
  display: flex;
}
footer .icons .fb {
  margin-right: 40.4px;
  height: 19px;
  width: 19px;
}
footer .icons .fb i {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 19px;
  width: 19px;
}
footer .icons .insta {
  height: 19px;
  width: 19px;
}
footer .icons .insta i {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 19px;
  width: 19px;
}

.account {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  background-color: #ffd972;
}
.account input {
  margin-top: 44px;
  font-size: 16px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1.5px solid black;
  background-color: #ffd972;
}
.account input:focus {
  outline: none;
}
.account input::placeholder {
  color: black;
}
.account button {
  margin-top: 44px;
  width: 170px;
  height: 40px;
  align-self: center;
  color: white;
  background-color: #ffd972;
  border-radius: 16px;
  border-color: #ffd972;
  box-shadow: 2px 2px 2px #d6b65f;
  color: #000000;
  cursor: pointer;
}
.account h1 {
  font-size: 26px;
  font-weight: normal;
}
.account .login,
.account .signup {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.account .login p,
.account .signup p {
  margin-bottom: 1px;
}

@media screen and (max-width: 778px) and (min-width: 391px) {
  .account {
    flex-direction: column;
  }
  .account h1 {
    font-size: 12px;
    margin-top: 15px;
  }
  .account input,
  .account button,
  .account p {
    font-size: 11px;
  }
}
