.account {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  background-color: $site-yellow;

  input {
    margin-top: 44px;
    font-size: 16px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1.5px solid black;
    background-color: $site-yellow;
  }

  input:focus {
    outline: none;
  }

  input::placeholder {
    color: black;
  }

  button {
    margin-top: 44px;
    width: 170px;
    height: 40px;
    align-self: center;
    color: white;
    background-color: $site-yellow;
    border-radius: 16px;
    border-color: $site-yellow;
    box-shadow: 2px 2px 2px #d6b65f;
    color: #000000;
    cursor: pointer;
  }

  h1 {
    font-size: 26px;
    font-weight: normal;
  }

  .login,
  .signup {
    display: flex;
    flex-direction: column;
    margin: 30px;
    p {
      margin-bottom: 1px;
    }
  }
}

@media screen and (max-width: 778px) and (min-width: 391px) {
  .account {
    flex-direction: column;
    h1 {
      font-size: 12px;
      margin-top: 15px;
    }

    input,
    button,
    p {
      font-size: 11px;
    }
  }
}
