.home {
  display: flex;
  align-items: center;
  justify-content: center;

  .hero {
    height: 800px;
    width: 100%;
    background-image: linear-gradient(
        rgba(242, 92, 84, 0.6),
        rgba(242, 92, 84, 0.6)
      ),
      url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .circle-container {
      width: 357.58px;
      height: 357.58px;
      background-color: $site-yellow;
    }
  }
}
